<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="canonical"
    href="https://steelworks-fitness.herokuapp.com/"
  />
  <meta
    name="description"
    content="Home page for Steelworks Fitness gym web site."
  ></meta>
  <meta
    name="keywords"
    content="Steelworks, Fitness, Gym, subscription, class, classes, plans, about, contact, zumba, crossfit, hiit, spin"
  ></meta>
    <title>Steelworks Fitness</title>
    <link
      href="//cdn-images.mailchimp.com/embedcode/classic-071822.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    {% block content %}{% endblock content %}
  </body>
</html>
